# Vim files
*.swp
*.swo
*~

# Plugin directories that will be installed
autoload/*
bundle/*
colors/*
doc/*
ftdetect/*
lsp/*
pack/*
plugged/*
plugin/*
sessions/*
spell/*
syntax/*
undodir/*
view/*

# Tags
tags

# Except the local_plugins directory
!local_plugins/

# In case make repo public
# codeium_auth.vim 
